* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D0D0D0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

header {
  line-height: 1.4;
  padding: 3rem 1rem .5rem 1.5rem;
  text-align: left;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  margin: 1rem 0;
}

h3 {
  font-size: .8rem;
  margin: .6rem 0;
}
h4 {
  font-size: 1rem;
  margin-top: .4rem;
}

button {
  background-color: #39BE76;
  border: 4px solid white;
  color: white;
  margin-bottom: .3rem;
  margin-top: .3rem;
  width: 8rem;
}

.wrapper {
  border: 1rem solid #D0D0D0;
  color: white;
  display: grid;
  font-size: .7rem;
  grid-auto-columns: 1fr 1fr 1fr 2fr;
  grid-auto-rows: minmax(18rem, auto);
  text-align: center;
}

.intro {
  background-color: #39BE76;
  grid-column: 1 / 3;
  grid-row: 1;
}

.header-icons {
  height: 16px;
  display: inline-block;
  margin-right: .2rem;
  width: 16px;
}

.profile {
  background-color: #FF9E00; 
  grid-column: 3;
  grid-row: 1;
}

.experience {
  background-color: #1E8BC4;
  grid-column: 1;
  grid-row: 2;
}

.education { 
  background-color: #F15A49;
  grid-column: 2;
  grid-row: 2;
}

.blog {
  background-color: #39BE76;
  grid-column: 3;
  grid-row: 2;
}

.contact {
  background-color: #1E8BC4;
  grid-column: 2;
  grid-row: 3;
}

.portfolio {
  background-color: #F46026;
  grid-column: 3;
  grid-row: 3;
}

.social-menu {
  background-color: #F46026;
  grid-column: 1;
  grid-row: 3;
}

.icons {
  margin: 6rem auto 0 auto;
  width: 4rem;
}

.photo {
  background-color: black;
  background-image: url("https://farm2.staticflickr.com/1770/42912719711_167cdbc8c7_b.jpg");
  background-position: right; 
  background-size: cover;
  grid-column: 4;
  grid-row: 1 / 4;  
}

.dots {
  height: 40px;
  left: 43%;
  position: relative;
  top: .6rem;
}

.arrow-left {
  float: left;
  transform: rotate(180deg);
}

.arrow-right {
  float: right;
}

.arrow-right, 
.arrow-left {
  height: 40px;
  position: relative;
  top: 93%;
}
.resume-button {
  margin-right: .5rem;
}

article:link, a:link {
  color: white;
  text-decoration: none;
}

article:visited, a:visited {
  color: white;
  text-decoration: none;
}

article:hover, a:hover, button:hover {
  background-color: grey;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 1160px) {

  header {
    padding: 1rem 1rem 1rem 1.5rem;
  }

  h4 {
    margin-bottom: 2rem;
  }

  .wrapper {
    grid-auto-rows: minmax(13rem, auto);
    grid-template-columns: 1fr 1fr;
  }

  .intro {
    grid-column: 1;
    grid-row: 1;
  }

  .profile {
    grid-column: 2;
    grid-row: 1;
    padding-top: 1.2rem;
  }

  .experience {
    grid-column: 2;
    grid-row: 3;
  }

  .education { 
    grid-column: 1;
    grid-row: 3;
  }

  .blog {
    grid-column: 1;
    grid-row: 4;
  }

  .social-menu {
    grid-column: 2;
    grid-row: 4;
  }

  .contact {
    grid-column: 2;
    grid-row: 5;
  }

  .portfolio {
    grid-column: 1;
    grid-row: 5;
  }

  .icons {
    height: 4rem;
    margin: 3.5rem auto 0rem auto;
    width: 4rem;
  }

  .photo {
    background-image: url("steamboat.jpg");  
    background-position: bottom;
    grid-column: 1 / 3;
    grid-row: 2;  
    height: 20rem;     
  }

  .dots {
    height: 30px;
    left: 46%;
    position: relative;
    top: .2rem;
  }

  .arrow-right, 
  .arrow-left {
    height: 50px;
    position: relative;
    top: 40%;
  }

}

@media screen and (max-width: 780px) {

  .wrapper {
    grid-auto-rows: minmax(12rem, auto);
  }

  .intro {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .profile {
    grid-column: 1;
    grid-row: 3;
    padding-top: 0;
  }

  .experience {
    grid-column: 2;
    grid-row: 3;
  }

  .education { 
    grid-column: 1;
    grid-row: 4;
  }

  .blog {
    grid-column: 2;
    grid-row: 4;
  }

  .social-menu {
    background-color: #FF9E00;
    grid-column: 1;
    grid-row: 5;
  }

  .portfolio {
    grid-column: 2;
    grid-row: 5;
  }

  .contact {
    grid-column: 1 / 3;
    grid-row: 6;
  }

  .photo {
    grid-column: 1 / 3;
    grid-row: 2;  
    height: 18rem;
    background-image: url("steamboat.jpg");
    background-position: bottom;
  }

  .arrow-right, 
  .arrow-left {
    height: 30px;
    position: relative;
    top: 45%;
  }

}

@media screen and (max-width: 540px) {

  header {
    text-align: center;
  }

  h4 {
    font-size: 1rem;
    padding-top: 2rem;
    text-align: center;
  }

  .wrapper {
    grid-auto-rows: minmax(2rem, auto);
    grid-template-columns: 1fr;
  }

  .intro {
    grid-column: 1;
    grid-row: 1;
  }

  .profile {
    grid-column: 1;
    grid-row: 3;
  }

  .experience {
    grid-column: 1;
    grid-row: 4;
  }

  .education { 
    grid-column: 1;
    grid-row: 5;
  }

  .blog {
    grid-column: 1;
    grid-row: 6;
  }

  .social-menu {
    grid-column: 1;
    grid-row: 7;
  }

  .contact {
    grid-column: 1;
    grid-row: 8;
  }

  .portfolio {
    grid-column: 1;
    grid-row: 9;
  }

  .icons {
    bottom: 1rem;
    display: inline;
    float: left;
    height: 3rem;
    left: 2rem;
    margin: 2.5rem auto 0 auto;
    position: relative;
    width: 3rem;
  }
  .dots {
    height: 30px;
    left: 44%;
  }

  .photo {
    grid-column: 1;
    grid-row: 2;  
    height: 14rem;
    background-image: url("steamboat.jpg");
    background-position: left;
  }

  .resume-button {
    margin: .3;
  }

}
